.DS_Store
.idea
**/.vscode
.mypy_cache
.pytest_cache
.pytest_cache


backend/clips
backend/model_ckpts
backend/uploads
backend/uploads/*
backend/uploads/.DS_Store
backend/uploads/.idea
backend/uploads/.vscode
backend/.venv


**/__pycache__